<div class="intervals-table">
  <table>
    <thead>
      <tr>
        <th>Interval</th>
        <th>Duration (minutes)</th>
        <th><%= link_to 'Export CSV', export_csv_pomodoro_url(format: :csv) %></th>
      </tr>
    </thead>
    <tbody>
      <% intervals.each_with_index do |interval, index| %>
      <tr data-interval-id="<%= index %>">
        <% if index.even? %>
          <td><%= "#{interval[:start_time].strftime("%H:%M")} - #{interval[:end_time].strftime("%H:%M")}" %></td>
        <% else %>
          <td><%= "#{interval[:start_time].strftime("%H:%M")} - #{interval[:end_time].strftime("%H:%M")} (#{interval[:break_type]} break)" %></td>
        <% end %>
        <td><%= "#{(interval[:end_time] - interval[:start_time]) / 60}"%></td>
        <td>
          <input type="checkbox" class="completion-checkbox">
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    document.querySelectorAll('.completion-checkbox').forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        var intervalId = this.closest('tr').getAttribute('data-interval-id');
        var intervalRow = document.querySelector('[data-interval-id="' + intervalId + '"]');
        intervalRow.classList.toggle('completed');
      });
    });
</script>
